<div class="card">
  <mat-card class="example-card">
    <mat-card-header class="card-header">
      <mat-card-title>{{ dataSoucer[0]?.name }}</mat-card-title>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="addFavorito(dataSoucer[0])"
        *ngIf="!temFavorito; else starLine"
        >star_outline</mat-icon
      >
    </mat-card-header>
    <img
      mat-card-image
      [src]="dataSoucer[0]?.sprites.other['official-artwork'].front_default"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Peso: <span>{{ dataSoucer[0]?.weight }}</span>
      </p>
      <p>
        Altura: <span>{{ dataSoucer[0]?.height }}</span>
      </p>
      <p>
        Tipos:
        <span *ngFor="let item of dataSoucer[0]?.types; let tamanho = index">
          <span *ngIf="tamanho > 0">,</span>
          {{ item.type.name }}
        </span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #starLine>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    (click)="addFavorito(dataSoucer[0])"
    >star</mat-icon
  >
</ng-template>
